@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif
}

table{
    width: 500px;
    border-collapse: collapse;
}
thead{
    background-color: lightgray;
}
td, th{
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    vertical-align: middle; 
}
td.num{
    text-align: right;
}
tfoot{
    background-color: lightgray;
}